<!-- About Modal -->
<div id="about" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="about-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="about-title">About this product map</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This website is a Proof of Concept to display OVHcloud products portfolio organization.</p>
        <p>Don't hesitate to give us your feedback !</p>
        <p><a class="" href="https://github.com/baaastijn/ovh_product_map" target="blank">Github project page</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>