
<header class="p-3 text-white bg-ovh">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand d-flex align-items-stard" href="#">
        <img src="img/OVHcloud_logo.webp" alt="" width="150" height="24">
        <span class="title-ovh m-0 ms-4">Product map</span>
      </div>
    <div class="d-flex flex-wrap align-items-center justify-content-end">
      <a href="product.datatable.html"><button type="button" class="btn btn-outline-light m-2">raw data</button></a>
      <a data-bs-toggle="modal" data-bs-target="#about"><button type="button" class="btn btn-outline-light m-2">About</button></a>
    </div>

    </div>
  </nav>
</header>


