
<header class="p-3 text-white bg-ovh">
<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a class="navbar-brand" href="#">
      <img src="img/OVHcloud_logo.webp" alt="" width="150" height="24">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="btn btn-outline-light m-2"  href="index.html">Product map</a></li>
        <li><a class="btn btn-outline-light m-2"  href="product.list.html">Product list</a></li>
        <li><a class="btn btn-link link-light m-2" href="product.datatable.html">Raw data table</a></li>
        <li><a class="btn btn-link link-light m-2" data-bs-toggle="modal" data-bs-target="#about">About</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark quicksearch" placeholder="Search product..." aria-label="Search">
    </form>
      
  </div>
</div>
</header>