<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-{{ key }}" aria-labelledby="Label">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">{{ product['product_name'] }}</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <hr>
        <h5>{{ product['product_short_description'] }}</h5>
        {% for key, phase in phases.iterrows() %}
            {% if phase['phase_label'] == product['phase_name'] %}
            <h5><span class="badge bg-primary">{{ phase["phase_name"] }}</span></h5>
            {% endif %}
        {% endfor %}
        <hr>
        <p> 
            <i class="bi bi-box-arrow-up-right"></i> 
            <a href="{{ product['product_website_url'] }}" class="link-primary">OVHcloud Website</a>
        </p>
        <p>
            <i class="bi bi-book"></i> 
            <a href="{{ product['product_documentation_url'] }}" class="link-primary">Official Documentation</a> 
        </p>
        
        <hr>
        <h4>Technical details</h4>
        <p><strong>Hardware tenancy :</strong> {{ product['hardware_tenancy'] }}</p>
        <p><strong>Public Network availability :</strong> {{ product['public_network'] }}</p>
        <p><strong>Private Network availability (vRack) :</strong> {{ product['private_network'] }}</p>
        <p><strong>Code Automation (Infras as code) :</strong> {{ product['code_automation'] }}</p>
        <p><strong>Proposed locations :</strong></p>
        <ul>
            {% for key, dc in datacenters.iterrows() %}
            {% set dcname = dc['datacenter_product_label'] %}
            <li>{{ dc['datacenter_area'] }} / {{ dc['datacenter_country'] }} / {{ dc['datacenter_city'] }} : <span class="avail-{{ product[ dcname ] }}">{{ product[ dcname ] }}</span></li>
            {% endfor %}
        </ul>
        
        
        <hr>
        <h4>Compliancy and certifications</h4>
        <p>Caution, these informations are experimental so far.</p>
        <ul>
            <li><strong>ISO 27001 :</strong> <span class="avail-{{ product['certif_iso_27001'] }}">{{ product['certif_iso_27001'] }}</span></li>
            <li><strong>HDS :</strong> <span class="avail-{{ product['certif_hds'] }}">{{ product['certif_hds'] }}</span></li>
            <li><strong>HIPAA :</strong> <span class="avail-{{ product['certif_hipaa'] }}">{{ product['certif_hipaa'] }}</span></li>
            <li><strong>PCI-DSS :</strong> <span class="avail-{{ product['certif_pci_dss'] }}">{{ product['certif_pci_dss'] }}</span></li>
            <li><strong>SecNumCloud :</strong> <span class="avail-{{ product['certif_snc'] }}">{{ product['certif_snc'] }}</span></li>
            <li><strong>SOCx type I :</strong> <span class="avail-{{ product['certif_soc1'] }}">{{ product['certif_soc1'] }}</span></li>
            <li><strong>SOCx type II :</strong> <span class="avail-{{ product['certif_soc2'] }}">{{ product['certif_soc2'] }}</span></li>
        </ul>
    </div>
</div>