<!doctype html>
<html lang="en">
    <head>
        <title>OVHcloud Product List</title>
        {% include "snippets/header.html" %}
    </head>
<body>
{% include "snippets/menu.withoutsearch.html" %}
    
{% include "snippets/about.html" %}

<main>
    <div class="container mt-5">        
        <div class="row">
            <!-- Generate categories and product list -->
            {% for key, cat in categories.iterrows() %}
                <div class="col-xs-12 col-md-6">
                    <div class="card mb-3">
                        <div class="card-header bg-{{ cat['category_label'] }}"><h1>{{ cat['category_name'] }}</h1></div>
                        <div class="card-body">
                        {% for key, product in products.iterrows() %}
                            {% if cat['category_label'] == product['category_name'] %}
                            <button class="w-100 product-list align-items-flex d-flex p-1" data-bs-toggle="offcanvas" href="#offcanvas-{{ key }}" role="button" aria-controls="offcanvasExample">
                                <div class="me-auto">
                                    <h6 class="product_name color-{{ cat['category_label'] }} m-1">{{ product['product_name'] }}</h6>
                                </div>
                                <div class="description-list m-1">{{ product['product_short_description'] }}</div>
                            </button>

                            {% include "snippets/offcanvas.html" %}
                            {% endif %} 
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% include "snippets/footer.html" %}
</body>
</html>

