<!doctype html>
<html lang="en">
    <head>
        <title>OVHcloud Product List</title>
        {% include "snippets/header.html" %}
    </head>
<body>
{% include "snippets/menu.html" %}
    
{% include "snippets/about.html" %}

<main>
    {% include "snippets/filters.html" %}

    <div class="b-example-divider"></div>
    
    <div class="container">        
        <div class="grid">
            <!-- add sizing element for columnWidth -->
            <div class="grid-sizer col-xs-12 col-sm-4 col-md-2"></div>
            <!-- Generate universe and product tiles -->
            {% for key, cat in categories.iterrows() %}
                <div class="grid-item col-xs-12 col-sm-8 col-md-4 p-2 m-auto category {{ cat['category_css_label'] }} bg-{{ cat['category_label'] }}">
                    <h1>{{ cat['category_name'] }}</h1>
                    <p>{{ cat['category_short_description'] }}</p>
                </div>
                {% for key, product in products.iterrows() %}
                    {% if cat['category_label'] == product['category_name'] %}
                    <div class="grid-item col-xs-12 col-sm-4 col-md-2 p-2 m-auto product bg-{{ cat['category_label'] }} {{ product['product_type'] }} {{ product['hardware_tenancy'] }} {{ product['public_network'] }} {{ product['private_network'] }} {{ product['billing_mode'] }} {{ product['phase_name'] }}">
                        <h6 class="product_name">{{ product['product_name'] }}</h6>
                        <div class="product_description">
                            {{ product['product_short_description'] }}
                        </div>
                        <div class="product_phase">
                            {% for key, phase in phases.iterrows() %}
                                {% if phase['phase_label'] == product['phase_name'] %}
                                <span class="badge bg-border-black">{{ phase["phase_name"] }}</span>
                                {% endif %}
                             {% endfor %}    
                        </div>
                        <a class="link-dark stretched-link" data-bs-toggle="offcanvas" href="#offcanvas-{{ key }}" role="button" aria-controls="offcanvasExample">
                            <div class="product_more">
                                <i class="bi bi-info-square"></i> More details
                            </div>
                        </a>
                    </div>
                    {% endif %} 
                {% include "snippets/offcanvas.html" %}
                {% endfor %}   
            {% endfor %}
        </div>
    </div>

</main>

{% include "snippets/footer.html" %}
</body>
</html>

